{% load static %}

<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <title>Chat</title>
    <link href="{% static 'chat.css' %}" rel="stylesheet">
  </head>

  <body>

    <h1>Chat v0.1</h1>

    Nick: <input autocomplete="off" type="text" name="nick" class="nick"/>
    Text: <input autocomplete="off" type="text" name="text" class="text"/>
    <input type="button" value="Send" class="submit">

    <div class="messages"></div>

    <h2>Request log</h2>

    <div>
      <input type="button" value="STOP" class="stop">
    </div>

    <div class="meter ok">
      <p class="label">OK</p>
      <p class="count"></p>
    </div>
    <div class="meter nok">
      <p class="label">NOK</p>
      <p class="count"></p>
    </div>
    <div class="meter pending">
      <p class="label">PENDING</p>
      <p class="count"></p>
    </div>

    <div class="log"></div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="{% static 'chat.js' %}"></script>
  </body>

</html>
