.messages {
    background: #eee;
    margin-top: 20px;
    padding: 20px;
}
.meter {
    background: #eee;
    float: left;
    font-weight: bold;
    margin: 10px 10px 10px 0px;
    padding: 10px;
    text-align: center;
    width: 100px;
}
.meter p {
    margin: 0px;
}
.meter.ok {
    color: #0a0;
}
.meter.nok {
    color: #f00;
}
.log {
    clear: both;
}
.error {
    color: #f00;
    font-weight: bold;
}
.time {
    display: inline-block;
    width: 100px;
}
